<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register for DJ Portal</h1>
{% if errors %}
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
<p>Hello, {{ first_name }}</p>
<form method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<p>These fields must be modified by the Program Director. Please veryify that they look OK:</p>
{% for r in read_only %}
    <p>{{ r.name }}: {{ r.data }}</p>
{% endfor %}
<input type="submit" value="Register">
</form>
</body>
</html>